// ======================================== [IMPORTS]
@import '../colors';
@import '../isFlex';
@import '../transition';
@import '../Components/scroll';

.InstrumentsMain {
  margin-top: 64pt;

  .intro {
    text-align: center;
    margin-bottom: 40pt;

    p{
      font-size: 16px;
    }

    strong {
      font-weight: 900;
    }

    h2 {
      color: $primaryColor;
      font-weight: 400;
    }
  }
  .containerInstruments{
    width: 100%;
    @include is-flex(center, space-between)
  }
}
